<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet"
          type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")"
            type="text/javascript"></script>
</head>
<body>
    <div id="header" style="margin-top:10px">

        <h1 class="font-italic"><a href="/">
            Welcome to Gadgets Online!
             </a>
        </h1>

        <ul id="navlist">
            @if (User.Identity.IsAuthenticated)
            {
<li><a>Welcome @User.Identity.Name</a></li>}
            <li><a href="@Url.Content("~/Home")" id="current">Home</a></li>

            <li><a href="@Url.Content("~/ShoppingCart")">ShoppingCart</a></li>            
        </ul>
    </div>

    @*@{Html.RenderAction("CategoryMenu", "Store");}*@ @*OLD*@
    @await Component.InvokeAsync("CategoryMenu")


    <div id="main">
        @RenderBody()
    </div>

    <div id="footer">
        <a href="https://aws.amazon.com/developer/language/net/"> AWS &#10084;&#65039;  ASP.NET </a>
    </div>
</body>
</html>